@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/LibreBaskerville.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --background: hsl(0,1%,14%);
  --foreground: hsl(0,0%,92%);
}

@theme inline {
  --font-baskerville: "Baskerville";

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --padding-large: 0.75rem;

  --rounding-large: 0.5rem;
  --rounding-small: 0.25rem;

  --gap-small: 0.5rem;
}

@layer utilities {
  .card {
    background-color: hsl(0,1%,24%);
    padding: var(--padding-large);
    border-radius: var(--rounding-large);
  }

  .button {
    border: 2px solid hsl(0,0%,60%);
    border-radius: var(--rounding-small);
  }

  .graph-paper {
    background-image:
      /* fine grid */
      linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
      /* major grid every 5 cells */
      linear-gradient(to right, rgba(255, 255, 255, 0.15) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
    background-size: 
      20px 20px, /* fine grid spacing */
      20px 20px,
      100px 100px, /* major grid spacing */
      100px 100px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baskerville";
}
