@import "tailwindcss";

@font-face {
    font-family: "MontReg";
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "MontBold";
    src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 400;
}

:root {
    --background: hsl(60, 20%, 3%);
    --foreground: hsl(0, 0, 92%);
    --foreground-second: hsl(0, 0%, 60%);
    --foreground-third: hsl(0, 0%, 40%);

    --card-background: hsl(0, 1%, 25%);
    --card-shadow: hsl(0, 0, 12%);
    --card-child-background: hsl(0, 1%, 37%);
    --card-child-shadow: hsl(0, 0, 20%);

    --button-main: hsl(208, 75%, 40%);

    --arrow-color: #7f7f7fff;

    --border-radius: 1.75rem;
    --border-radius-small: 1.25rem;

    --padding: 0.5rem;

    --gap: 1rem;
}

@theme inline {
    --font-mont-bold: "MontBold";
    --font-mont-reg: "MontReg";

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-foreground-second: var(--foreground-second);
    --color-foreground-third: var(--foreground-third);

    --color-card-background: var(--card-background);
}

@layer utilities {
    .graph-paper {
        background-image:
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0.025) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.025) 1px,
                transparent 1px
            ),
            linear-gradient(
                to right,
                rgba(255, 255, 255, 0.075) 1px,
                transparent 1px
            ),
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0.075) 1px,
                transparent 1px
            );
        background-size:
            10px 10px,
            10px 10px,
            50px 50px,
            50px 50px;
    }

    .dotted-paper {
        background-image: radial-gradient(#1b1b19 1.5px, transparent 1.5px);
        background-size: 20px 20px;
    }

    .card-style {
        background-color: var(--card-background);
        border-radius: var(--border-radius);
        box-shadow: 0 0 5px 5px var(--card-shadow);
    }

    .card-style > div {
        background-color: var(--card-child-background);
        border-radius: var(--border-radius-small);
        box-shadow: 0 0 1px 1px var(--card-child-shadow);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "MontReg";
}
