@import "tailwindcss";

@font-face {
  font-family: "Baskerville";
  src: url("/fonts/LibreBaskerville.ttf") format("truetype");
  font-weight: 400;
}

:root {
  --background: hsl(0,1%,14%);
  --foreground: hsl(0,0,92%);
  --foreground-second: hsl(0,0,60%);
}

@theme inline {
  --font-baskerville: "Baskerville";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-second: var(--foreground-second);
}

@layer utilities {
  .graph-paper {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.025) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.025) 1px, transparent 1px),

      linear-gradient(to right, rgba(255, 255, 255, 0.075) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.075) 1px, transparent 1px);
    background-size: 
      10px 10px,
      10px 10px,
      50px 50px, 
      50px 50px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baskerville";
}
